@import "tailwindcss";

/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Great+Vibes&family=Inter:wght@300;400;500;600&display=swap');

/* variables de fuente */
@theme {
  --font-title: "Playfair Display", serif;
  --font-accent: "Great Vibes", cursive;
  --font-body: "Inter", sans-serif;
}

/* base */
body {
  font-family: var(--font-body);
}